div{
    height: 70px;
    width: 70px;
    background-color: orange;
    text-align: center;
    border: 2px solid black;
    margin: 15px;
    display: inline-block;
}

#static{
    background-color: orangered;
    position: static;
    top: 100px;
    left: 100px;
}

#relative{
    background-color: yellowgreen;
    position: relative;
    top: 30px;
    left: 30px;
}

#Absolute{
    background-color: aqua;
    position: absolute;
    top: 100px;
    left: 100px;
}

#Fixed{
    background-color: blue;
    position: fixed;
    top: 100px;
    left: 100px;
}